{% extends "conteudo/base.html" %}

{% block titulo %}Blog{% endblock %}

{% block content %}
    <div id="cab">
    <h1 id="titulo_principal">Aqui são meus posts</h1>

    <p>Temos aqui varios posts sobre vários assuntos muito interessante, dê uma olhada em algum deles:</p>
    </div>

    {% for pos in post %}
    <hr>
        <h2><a href="{{ pos.id }}">{{ pos.titulo }}</a></h2>
        <p id="data">{{ pos.data }}</p>
        <p class="cont">{{ pos.conteudo }}</p>
    {% endfor %}


{% endblock %}

